#ETv5

#Senha de root e suporte
export ROOT_PASS="SENHA_ROOT"

#Senha de acesso Remoto
export VNCPASS="SENHA_REMOTO"

#Conexão LDAP
export URI_LDAP="ldap:/IP_LDAP/"
export BASE_LDAP="ou=Usuarios,dc=example,dc=com,dc=br"
export BASE1_LDAP="ou=Grupos,dc=example,dc=com,dc=br"

#Bind LDAP
export BINDDN="cn=authproxy,dc=example,dc=com,dc=br"
export BINDPW="SENHA_BIND"

#Servidor de Arquivos Remotos
export NAME_SERVER="NAME_SERVER:/DIRETORIO_SERVER /mnt/suporte nfs timeo=5,retrans=3,retry=10,ro,fg,intr,_netdev,soft,nofail   0   0"
